<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>events</key>
	<dict>
		<key>example</key>
		<dict>
			<key>name</key>
			<string>example</string>
			<key>registeredTrackers</key>
			<array>
				<string>console</string>
				<string>tracker2</string>
			</array>
			<key>payloadKeys</key>
			<array>
				<string>test_1</string>
				<string>test_2</string>
				<string>test_3</string>
				<dict>
					<key>name</key>
					<string>testObject</string>
					<key>objectPayloadKeys</key>
					<array>
						<string>item_name</string>
						<string>item_number</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>secondTestObject</string>
					<key>objectPayloadKeys</key>
					<array>
						<string>item_name</string>
						<string>item_number</string>
					</array>
				</dict>
			</array>
		</dict>
		<key>view_screen</key>
		<dict>
			<key>name</key>
			<string>view_screen</string>
			<key>registeredTrackers</key>
			<array>
				<string>console</string>
				<string>Firebase</string>
			</array>
			<key>payloadKeys</key>
			<array>
				<string>screenName</string>
				<string>screenData</string>
				<string>screenData_var</string>
				<string>screenData_varSetting</string>
			</array>
		</dict>
		<key>Tap</key>
		<dict>
			<key>name</key>
			<string>Tap</string>
			<key>registeredTrackers</key>
			<array>
				<string>console</string>
				<string>Firebase</string>
			</array>
			<key>payloadKeys</key>
			<array>
				<string>elementName</string>
			</array>
		</dict>
		<key>User</key>
		<dict>
			<key>name</key>
			<string>User</string>
			<key>registeredTrackers</key>
			<array>
				<string>console</string>
				<string>Firebase</string>
			</array>
			<key>payloadKeys</key>
			<array>
				<string>action</string>
				<string>response</string>
				<string>extra</string>
			</array>
		</dict>
		<key>NoPayload</key>
		<dict>
			<key>name</key>
			<string>NoPayload</string>
			<key>registeredTrackers</key>
			<array>
				<string>console</string>
				<string>Firebase</string>
			</array>
			<key>payloadKeys</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
