<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>events</key>
	<dict>
		<key>example</key>
		<dict>
			<key>registeredTrackers</key>
			<array>
				<string>console</string>
				<string>tracker2</string>
			</array>
			<key>payloadKeys</key>
			<array>
				<string>test_1</string>
				<string>test_2</string>
				<string>test_3</string>
			</array>
		</dict>
		<key>ViewScreen</key>
		<dict>
			<key>registeredTrackers</key>
			<array>
				<string>console</string>
				<string>Firebase</string>
			</array>
			<key>payloadKeys</key>
			<array>
				<string>screenName</string>
				<string>screenData</string>
				<string>screenData_var</string>
				<string>screenData_varSetting</string>
			</array>
		</dict>
		<key>Tap</key>
		<dict>
			<key>registeredTrackers</key>
			<array>
				<string>console</string>
				<string>Firebase</string>
			</array>
			<key>payloadKeys</key>
			<array>
				<string>elementName</string>
			</array>
		</dict>
		<key>User</key>
		<dict>
			<key>registeredTrackers</key>
			<array>
				<string>console</string>
				<string>Firebase</string>
			</array>
			<key>payloadKeys</key>
			<array>
				<string>action</string>
				<string>response</string>
				<string>extra</string>
				<string>&amp;view_item_list</string>
			</array>
		</dict>
		<key>NoPayload</key>
		<dict>
			<key>registeredTrackers</key>
			<array>
				<string>console</string>
				<string>Firebase</string>
			</array>
			<key>payloadKeys</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
